{% include "AbayDashboard/header.html" %}
{% load materializecss %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
    <!-- Collapsible Sidebar -->
    {% include "AbayDashboard/includes/sidebar.html" %}

    <!-- END sidebar-wrapper  -->

    <!-- Page Content -->
    {% include "AbayDashboard/includes/dash_content.html" %}
    {% include "AbayDashboard/includes/alarm_modal.html" %}
    {% include "AbayDashboard/includes/alarm_mute_modal.html" %}
</div>
{% endblock %}

